<div *ngIf="tasks.length > 0" class="container">
  <h2 class="m-3 text-center">My Tasks</h2>
  <div class="row my-2 justify-content-between align-items-center">
    <div class="col-10">
      <app-total-hours [tasks]="tasks"></app-total-hours>
    </div>
    <div class="col-2 text-right">
      <app-create-task (newTask)="addTask($event)"></app-create-task>
    </div>
  </div>
  <hr />
  <div class="row my-2 align-items-center">
    <div class="col-3">
      Name
    </div>
    <div class="col-5">
      Description
    </div>
    <div class="col-1">
      Estimate
    </div>
    <div class="col-2">State <span class="text">(Click to change)</span></div>
    <div class="col-1"></div>
  </div>
  <hr />
  <div *ngFor="let task of tasks" class="row my-3 align-items-center">
    <div class="col-3">
      <b>{{ task.name }}</b>
    </div>
    <div class="col-5">
      {{ task.description }}
    </div>
    <div class="col-1">
      {{ task.estimate }}
    </div>
    <div class="col-2">
      <div
        *ngIf="task.state == '1'"
        class="stateBtn planned"
        (click)="updateState(task)"
      >
        <span>Planned</span>
      </div>
      <div
        *ngIf="task.state == '2'"
        class="stateBtn inprogress"
        (click)="updateState(task)"
      >
        <span>In progress</span>
      </div>
      <div
        *ngIf="task.state == '3'"
        class="stateBtn completed"
        (click)="updateState(task)"
      >
        <span>Completed</span>
      </div>
    </div>
    <div class="col-1 px-1 text-center">
      <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        (click)="remove(task.id)"
      >
        Remove
      </button>
    </div>
  </div>
</div>
